kind: BuildConfig
apiVersion: v1
metadata:
    name: seed-job
spec:
    source:
        git:
            uri: https://github.com/dharmit/ccp-openshift
    strategy:
        jenkinsPipelineStrategy:
            jenkinsfilePath: seed-job/Jenkinsfile
